h1 {
    text-align: center;
  }

  table {
    border-collapse: collapse;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    border: 2px solid black;
  }
  
  thead {
    display: table-header-group;
    background-color: #1e90ff;
    color: #fff;
  }
  
  tbody {
    display: table-row-group;
  }
  
  tr {
    display: table-row;
    border-bottom: 1px solid #ddd;
  }
  
  th, td {
    text-align: left;
    padding: 8px;
  }
  
  th {
    background-color: #1e90ff;
    color: white;
  }
  img {
    max-width: 100%;
    height: auto;
  }

  @media screen and (max-width: 900px) {
    table {
      width: 100%;
      border: 1px solid black;
    }
    thead {
      display: none;
    }
    tbody {
      display: block;
      width: 100%;
    }
    tr {
      margin-bottom: 10px;
      border: 1px solid black;
      background-color: #f2f2f2;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    td {
      width: 100%;
      text-align: left;
      padding: 8px;
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
    }
  }
  
  